.gradient{
    
    background: crimson;
    box-shadow: 0 -150px 70px -120px rgb(240, 108, 0) inset,
                0 -220px 70px -120px rgb(181, 255, 33) inset,
                0 -280px 70px -120px rgb(255, 0, 0) inset;
    border-radius: 30px;
    border: 5px solid white;
    animation: background 3s infinite alternate;
  }
  
  @keyframes background {
    50% {
      background: darkviolet;
      box-shadow: 0 -140px 70px -120px rgb(255, 2, 255) inset,
                  0 -210px 70px -120px rgb(206, 187, 22) inset,
                  0 -280px 70px -120px rgb(221, 20, 47) inset;
    }
  }
